<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/movie.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Category: <%= category %></p>
    <p>Year: <%= year %></p>
    <p>Actors: <%= actors %></p>
  </body>
</html>